.footer {
    width: 100%;
    background-color: #F7F5F3;
    padding: 3rem 0;
}
@media (max-width: 1280px) {
    .footer {
        padding: calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.footer__form {
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 3px solid white;
    padding-bottom: 2rem;
}
@media (max-width: 1280px) {
    .footer__form {
        padding-bottom: calc(.33rem + (2 - .33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__form-title {
    font-family: "Cormorant Garamond Reg",serif;
    color: #405861;
    font-size: 1.66rem;
    line-height: 2rem;
    padding: 0 0 1.5rem 0;
    text-align: center;
}
@media (max-width: 1280px) {
    .footer__form-title {
        font-size: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.5rem + (1.5 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__form input {
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    padding: .66rem;
    font-family: 'Open Sans Reg', sans-serif;
    font-size: .8rem;
    line-height: 1.33rem;
    color: #475256;
    margin-right: .33rem;
    transform: translateY(-1.1rem);
}
@media (max-width: 1280px) {
    .footer__form input {
        font-size: calc(.66rem + (.8 - .66) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.4rem + (.66 - .4) * ((100vw - 20rem) / (80 - 20)));
        margin-right: calc(.1rem + (.33 - .1) * ((100vw - 20rem) / (80 - 20)));
        transform: translateY(calc(-.66rem + (-1.1 + .66) * ((100vw - 20rem) / (80 - 20))));
    }
}
@media (max-width: 1200px) {
    .footer__form input {
        width: 18rem;
    }
}
@media (max-width: 1100px) {
    .footer__form input {
        width: 17rem;
    }
}
@media (max-width: 1000px) {
    .footer__form input {
        width: 16rem;
    }
}
@media (max-width: 900px) {
    .footer__form input {
        width: 15rem;
    }
}
@media (max-width: 800px) {
    .footer__form input {
        width: 14rem;
    }
}
@media (max-width: 700px) {
    .footer__form input {
        width: 13rem;
    }
}
@media (max-width: 600px) {
    .footer__form input {
        width: 12rem;
    }
}
@media (max-width: 500px) {
    .footer__form input {
        width: 11rem;
    }
}
@media (max-width: 400px) {
    .footer__form input {
        width: 10rem;
    }
}

.footer__form-link {
    font-family: 'Open Sans Reg', sans-serif;
    font-size: .7rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #405861;
    position: relative;
    overflow: hidden;
    transition: .5s;
    border: 1px solid #405861;
    padding: .8rem 2rem;
    letter-spacing: .066rem;
    display: inline-block;
    z-index: 1;
}
@media (max-width: 1280px) {
    .footer__form-link {
        font-size: calc(.5rem + (.7 - .5) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__form-link:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: -100%;
    transition: .5s;
    background-color: #405861;
    z-index: -1;
}

.footer__form-link:hover {
    color: rgba(255, 255, 255, 1);
}

.footer__form-link:hover:after {
    left: 0;
}

.footer__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 1050px) {
    .footer__items {
        justify-content: center;
    }
}

.footer__item {
    width: 22%;
}
@media (max-width: 1050px) {
    .footer__item {
        width: 45%;
        margin-bottom: .5rem;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .footer__item {
        width: 97%;
    }
}

.footer__item-title {
    font-family: "Cormorant Garamond Reg",serif;
    color: #405861;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1.33rem 0;
}
@media (max-width: 1280px) {
    .footer__item-title {
        font-size: calc(1.1rem + (1.4 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.1rem + (1.4 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.66rem + (1.33 - .66) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.footer__item-text {
    font-family: 'Open Sans Reg', sans-serif;
    font-size: .8rem;
    line-height: 1.33rem;
    color: #879296;
    text-align: left;
}
@media (max-width: 1280px) {
    .footer__item-text {
        font-size: calc(.66rem + (.8 - .66) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}
@media (max-width: 1050px) {
    .footer__item-text {
        text-align: center;
    }
}

/*.right {
    text-align: right;
}

.center {
    text-align: center;
}*/

.footer__item-link {
    font-family: 'Open Sans Reg', sans-serif;
    font-size: .8rem;
    line-height: 1.66rem;
    color: #879296;
    text-decoration: none;
    transition: .5s;
    display: block;
}
@media (max-width: 1280px) {
    .footer__item-link {
        font-size: calc(.7rem + (.8 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.33rem + (1.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__item-link:hover {
    color: #475256;
}