.latest {
    width: 100%;
    padding: 0 0 2rem 0;
}
@media (max-width: 1280px) {
    .latest {
        padding-bottom: calc(0rem + (2 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__title {
    font-family: "Cormorant Garamond Reg",serif;
    letter-spacing: -.01em;
    color: #405861;
    font-size: 3.33rem;
    line-height: 3.33rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}
@media (max-width: 1280px) {
    .latest__title {
        font-size: calc(1.8rem + (3.33 - 1.8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.8rem + (3.33 - 1.8) * ((100vw - 20rem) / (80 - 20)));
        padding-top: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.4rem + (1 - .4) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__text {
    font-family: 'Open Sans Reg', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #879296;
    letter-spacing: .033rem;
    text-align: center;
    margin-bottom: 1rem;
}
@media (max-width: 1280px) {
    .latest__text {
        font-size: calc(.7rem + (1 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.8 - 1) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(0rem + (1 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__list {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .latest__list {
        padding-top: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__item {
    width: 31%;
    margin-bottom: 4rem;
}
@media (max-width: 700px) {
    .latest__item {
        width: 47%;
        margin-bottom: 2rem;
    }
}
@media (max-width: 500px) {
    .latest__item {
        width: 96%;
        margin-bottom: 1.5rem;
    }
}

.latest__item-image {
    width: 100%;
    position: relative;
    transition: .5s;
}

.latest__item-image img {
    width: 100%;
}

.latest__item-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f4e9d7;
    transition: .5s;
}

.latest__item-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #f4e9d7;
    transition: .5s;
}

.latest__item-image:hover {
    opacity: .9;
}

.latest__item-image:hover:after {
    transform: translate(-1rem, -1rem);
    height: 1rem;
}
.latest__item-image:hover:before {
    transform: translate(-1rem, -1rem);
    width: 1rem;
}

.latest__item-date {
    padding: 2rem 0 1rem 0;
    color: #85a3b3;
    font-family: "Work Sans Reg",sans-serif;
    font-size: .66rem;
    line-height: .66rem;
    letter-spacing: .08rem;
    text-transform: uppercase;
}
@media (max-width: 1280px) {
    .latest__item-date {
        font-size: calc(.5rem + (.66 - .5) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.5rem + (.66 - .5) * ((100vw - 20rem) / (80 - 20)));
        padding-top: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__item-title {
    font-family: "Cormorant Garamond Reg",serif;
    color: #405861;
    font-size: 1.8rem;
    line-height: 1rem;
    padding: 0 0 2rem 0;
    display: inline-block;
    text-decoration: none;
    transition: .5s;
}
@media (max-width: 1280px) {
    .latest__item-title {
        font-size: calc(1.33rem + (1.8 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__item-title:hover {
    color: #102831;
}

.latest__item-text {
    font-family: 'Open Sans Reg', sans-serif;
    font-size: .8rem;
    line-height: 1.4rem;
    color: #879296;
    letter-spacing: .033rem;
    padding-bottom: 1rem;
}
@media (max-width: 1280px) {
    .latest__item-text {
        font-size: calc(.6rem + (.8 - .6) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.9rem + (1.4 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(0rem + (1 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__link {
    font-family: "Work Sans Reg",sans-serif;
    font-size: .8rem;
    line-height: 1.4rem;
    font-weight: 400;
    letter-spacing: .02rem;
    text-transform: uppercase;
    color: #415962;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    position: relative;
}
@media (max-width: 1280px) {
    .latest__link {
        font-size: calc(.6rem + (.8 - .6) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20))) calc(.66rem + (2.33 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.latest__link:before {
    content: "";
    position: absolute;
    width: 90%;
    height: .5rem;
    background-color: #85a3b3;
    opacity: .33;
    transition: .5s;
    left: .66rem;
    top: 50%;
}

.latest__link:hover:before {
    width: 0;
}