* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans Reg', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    position: relative;
}

img {
    margin-bottom: -8px;
}

section {
    background-color: white;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 1rem;
}
.fix-container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 1rem;
    position: relative;
}

.link-btn {
    color: black;
    border: 1px solid black;
    padding: .66rem 1rem;
    font-family: 'Fjalla One Reg', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: .1rem;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    display: inline-block;
    transition: .5s;
    z-index: 10;
    overflow: hidden;
    transform: translateY(1rem);
    text-transform: uppercase;
}
@media (max-width: 1280px) {
    .link-btn {
        font-size: calc(.7rem + (1.2 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.7rem + (1.2 - .7) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.5rem + (.66 - .5) * ((100vw - 20rem) / (80 - 20))) 1rem;
    }
}

.link-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 97.33%;
    top: 4%;
    left: 103%;
    background-color: black;
    height: 92%;
    transition: .5s;
    z-index: -1;
}

.link-btn:hover:before {
    left: 1.33%;
}

.link-btn:hover {
    color: white;
}

.section__head {
    height: 100vh;
    position: relative;
    padding-left: 20%;
    background: transparent;
}

